
@import 'variables';

a#navbarDropdown:hover {
    color: $primary;
}
button>a{
    text-decoration: none;
}


.navbar-toggler {
    color: $primary !important; 
  }

a.nav-link:hover{
    color: $primary;
    transform: scale(1.2);
}
 
  



