
@import 'variables';

a#navbarDropdown:hover {
    color: $primary;
}
button>a{
    text-decoration: none;
}


.navbar-toggler {
    color: $primary !important; 
  }

a.nav-link:hover{
    color: $primary;
    transform: scale(1.2);
}
 
.card-cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(104, 101, 101, 0.144); 
}
.card-cover .content {
    position: relative;
    z-index: 1;
}
span.text-primary.highlight{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}




::-webkit-scrollbar {
    width: 4px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: none; 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: $primary; 
    }
    
    /*end of custom scrollbar*/